Caja/Caja/Service References/ReferenciaServicioUsuario/ServicioAut.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AutetnticacionUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombreUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="claveUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutetnticacionUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AutetnticacionUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AutetnticacionUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:AutetnticacionUsuario" />
  </wsdl:message>
  <wsdl:message name="AutetnticacionUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:AutetnticacionUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioAutSoap">
    <wsdl:operation name="AutetnticacionUsuario">
      <wsdl:input message="tns:AutetnticacionUsuarioSoapIn" />
      <wsdl:output message="tns:AutetnticacionUsuarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioAutSoap" type="tns:ServicioAutSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutetnticacionUsuario">
      <soap:operation soapAction="http://tempuri.org/AutetnticacionUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioAutSoap12" type="tns:ServicioAutSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutetnticacionUsuario">
      <soap12:operation soapAction="http://tempuri.org/AutetnticacionUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioAut">
    <wsdl:port name="ServicioAutSoap" binding="tns:ServicioAutSoap">
      <soap:address location="http://localhost:61315/ServicioAut.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioAutSoap12" binding="tns:ServicioAutSoap12">
      <soap12:address location="http://localhost:61315/ServicioAut.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>